.card {
  height: 100%;
}

.content {
  height: 100%;
}

.title:hover {
  text-decoration: underline;
}

.avatar {
  height: 1.7rem;
  width: auto;
  border-radius: 100%;
  margin: 0;
}

@media only screen and (max-width: 1023px) {
  .isgaplessmobile {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
  }
}