.tab a {
  color: #7384af;
}

.tab a:hover {
  background-color: #7384af !important;
  color: #f0f2f6 !important;
}

.active a {
  background-color: #7384af !important;
  border-color: #7384af !important;
  color: #f0f2f6 !important;
}


.icon {
  fill: #7384af;
}

.tab a:hover .icon,
.active a .icon {
  fill: #f0f2f6;
}

.loader {
  height: 2.7rem;
  width: auto;
}

.sticky {
  z-index: 99;
  position: sticky;
  top: 0;
  background: white;
}

@media only screen and (max-width: 1023px) {
  .controlwrapper {
    width: 100%;
    padding-top: 1rem;
  }
  .control {
    width: 100%;
    margin: 0 !important;
  }
}